@font-face {
  font-family: 'Hamishe';
  src: url('./fonts/Digi\ Hamishe\ Regular.ttf');
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hamishe', Arial, Helvetica, sans-serif;
  background-color: #171717;
  color: #fff;
  direction: rtl;
}

.gradientback {
  width: 30vw;
  height: 30vw;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  filter: blur(60px);
  background-image: linear-gradient(
    135deg,
    rgba(152, 250, 252, 0.668) 0%,
    rgba(31, 74, 250, 0.5) 100%
  );
  position: fixed;
  animation: rotate 15s ease-in-out alternate infinite;
  z-index: 0;
}

header {
  background-color: #11111164;
  padding: 20px 40px;
  border-radius: 20px;
  margin: 20px;
  backdrop-filter: blur(5px);
  position: sticky;
  top: 5px;
  z-index: 99;
  border: 1px solid rgba(255, 255, 255, 0.559);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .name {
  font-size: 1.3em;
  font-weight: bold;
  z-index: 3;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  z-index: 3;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s;
}

.name a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #b4b4b4;
  transition: all 0.2s;
}

.intro {
  position: sticky;
  text-align: center;
  padding: 80px 20px;
  background-color: #11111164;
  backdrop-filter: blur(5px);
  border-radius: 30px;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.559);
  z-index: 4;
}

/* ABOUT ME PAGE */
.intro .aboutme-head {
  margin-bottom: 50px;
  font-size: 2.5em;
  line-height: 1.2;
  filter: drop-shadow(#000 1px 0 7px) !important;
}

.intro .aboutme-paragraph {
  margin-top: 20px;
  font-size: 1.2em;
  color: #e0e0e0;
  margin-bottom: 50px;
  filter: drop-shadow(#000 1px 0 7px) !important;
}

.social-icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.social-icons a {
  color: #fff;
  font-size: 2em;
  filter: drop-shadow(#ffffff 1px 0 7px) !important;
  transition: all 0.2s;
}

.social-icons a:hover {
  color: #b4b4b4;
  transition: all 0.2s;
}

#particlejs {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}

body::-webkit-scrollbar-track {
  background: #171717;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-thumb {
  border: 5px solid #171717;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
    inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

article.active {
  display: block;
  animation: fade 0.75s ease-out backwards;
}

a.active {
  color: rgb(79, 252, 255);
  transition: all 0.2s;
}

a.active:hover {
  color: rgb(61, 169, 171);
  transition: all 0.2s;
}

article {
  display: none;
}

/* RESUME PAGE */
#resume {
  padding: 65px 20px;
}

.resume-head1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  line-height: 1.2;
  filter: drop-shadow(#000 1px 0 7px) !important;
}

.resume-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 0 50px;
}

.resume-head3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  filter: drop-shadow(#000 1px 0 7px) !important;
}

.skill-resume-list,
.educational-record,
.language-list {
  border: 1px solid rgba(255, 255, 255, 0.559);
  background-color: rgba(17, 17, 17, 0.39);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 13px;
  width: 100%;
  line-height: 30px;
  max-width: 300px;
}

.skill-resume-list,
.language-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.skill-resume-list-item,
.language-item {
  display: flex;
  align-items: center;
}

.skill-resume-list-item i,
.language-item i {
  font-size: 15px;
  margin-left: 6px;
}

.educational-record {
  margin-bottom: 15px;
}

.educational-record-subject {
  font-weight: bold;
  margin-bottom: 5px;
}

.gpa {
  font-size: 0.9em;
  color: #a4a4a4;
}

.institute {
  color: #fff;
  font-size: 0.9em;
}

.languages li span {
  color: #a4a4a4;
  margin-right: 2px;
}

/* PROJECTS PAGE */
.intro .projects-head1 {
  text-align: center;
  margin: 0 auto 50px;
  font-size: 2.5em;
  filter: drop-shadow(#000 1px 0 7px) !important;
}

.intro .project-title {
  filter: drop-shadow(#000 1px 0 7px) !important;
  font-size: 1.4em;
}

.project {
  border: 1px solid rgba(255, 255, 255, 0.559);
  background-color: #11111164;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 20px;
  flex: 1;
  max-width: 300px;
}

.projects-content {
  line-height: 40px;
  display: flex;
  align-items: flex-start;
  gap: 8%;
  justify-content: center;
}

.project-date {
  font-size: 1em;
  color: #9d9d9d;
}

/* CONTACT PAGE */
.contact-head1 {
  text-align: center;
  margin: 0 auto 50px;
  font-size: 2.5em;
  filter: drop-shadow(#000 1px 0 7px) !important;
}

.contact-paragraph {
  font-size: 1.2em;
  color: #e0e0e0;
  filter: drop-shadow(#000 1px 0 7px) !important;
}

.contact-des {
  margin: 20px 30px 50px;
  display: flex;
  justify-content: space-between;
}

.contact-socials {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.contact-socials a {
  color: #fff;
  font-size: 2em;
  filter: drop-shadow(#ffffff 1px 0 7px) !important;
  transition: all 0.2s;
}

.contact-socials a:hover {
  color: #b4b4b4;
  transition: all 0.2s;
}

.contact-form {
  display: grid;
  grid-template-areas:
    'email email name name'
    'text text text text'
    'text text text text';
  gap: 10px;
}

.contact-form-div {
  background-color: #11111164;
  backdrop-filter: blur(3px);
  border-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.559);
  padding: 20px;
  position: relative;
}

.contact-soon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
  background-color: #11111164;
  border-radius: 13px;
}

.contact-soon {
  font-size: 24px;
  color: white;
  text-align: center;
}

.contact-email-input {
  grid-area: email;
}

.contact-text-input {
  grid-area: name;
}

.contact-textarea-input {
  grid-area: text;
  resize: vertical;
  min-height: 100px;
  height: 120px;
  max-height: 200px;
}

.contact-form > input,
textarea {
  background-color: #11111164;
  backdrop-filter: blur(3px);
  outline: none;
  padding: 12px 25px;
  border-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.559);
  font-family: 'Hamishe', Arial, Helvetica, sans-serif;
}

@media (max-width: 640px) {
  .gradientback {
    width: 55vw;
    height: 55vw;
  }

  .social-icons {
    gap: 30px;
  }

  .social-icons a {
    font-size: 1.7em;
  }

  .intro {
    padding: 85px 20px;
  }

  header .name {
    font-size: 1.2em;
  }

  header {
    padding: 20px;
  }

  nav a {
    font-size: 0.8em;
  }

  nav ul {
    gap: 13px;
  }
}

@media (max-width: 705px) {
  .resume-content {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 30px;
  }

  .skills-list,
  .educational-records,
  .languages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume-head3 {
    text-align: center;
    margin-bottom: 10px;
  }

  .skill-resume-list,
  .educational-record,
  .language-list {
    width: 80%;
    max-width: none;
  }

  .skill-resume-list {
    align-items: center;
  }

  .language-list {
    align-items: center;
  }

  .educational-record {
    margin-bottom: 15px;
  }

  .resume-head1 {
    font-size: 2.2em;
    margin-bottom: 30px;
  }

  .projects-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .project {
    width: 70%;
  }

  .project-date {
    font-size: 0.9em;
  }

  .intro .project-title {
    font-size: 1.2em;
  }

  .intro .projects-head1 {
    font-size: 2.2em;
  }
}

@media (max-width: 855px) {
  .contact-des {
    flex-direction: column;
    gap: 20px;
    margin: 20px 10px 50px;
  }

  .contact-socials {
    gap: 7vw;
  }

  .contact-socials a {
    font-size: 1.7em;
  }
}
